.new-item__form {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 10px 30px;
  margin-top: 60px;
  border-right: 1px solid #D6D6D6;
  float: left;
}

.new-item__form-item {
  width: auto;
  text-transform: capitalize;
}

.new-item__form-item input {
  margin: 5px 0 10px;
  border: 1px solid #D6D6D6;
  border-radius: 7%;
  padding: 5px;
  width: 200px;
}

.new-item__form-item input:active,
.new-item__form-item input:focus {
  outline-color: #007ffa;
}

.new-item__form-btn {
  width: auto;
  border-radius: 10%;
  font-family: 'Montserrat';
  font-size: 16px;
  border: 1px solid #D6D6D6;
  background-color: #D6D6D6;
}

.new-item__form-btn:focus {
  outline: none;
}

.new-item__form-btn_right {
  float: right;
}

@media (max-width: 533px) {
  .new-item__form {
    border-right: none;
  }

  .new-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 534px) and (max-width: 784px) {
  .new-item__form {
    margin-left: 0;
    position: fixed;
  }
}
