.parent__form {
  width: min-content;
  padding: 10px 30px;
  margin-top: 60px;
  border-right: 1px solid #D6D6D6;
  float: left;
}

.form__item {
  width: auto;
  text-transform: capitalize;
}

.form__item input {
  margin: 5px 0 10px;
  border: 1px solid #D6D6D6;
  border-radius: 7%;
  padding: 5px;
  width: 200px;
}

.form__item input:active, :focus {
  outline-color: #007ffa;
}

.form__btn {
  width: auto;
  border-radius: 10%;
  font-family: 'Montserrat';
  font-size: 16px;
  border: 1px solid #D6D6D6;
  background-color: #D6D6D6;
}

.form__btn:focus {
  outline: none;
}

.btn_right {
  float: right;
}

@media (max-width: 533px) {
  .parent__form {
    border-right: none;
  }

  .parent {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 534px) and (max-width: 784px) {
  .parent__form {
    margin-left: 0;
    position: fixed;
  }
}
