.form {
  width: min-content;
  padding: 10px 30px;
  margin-top: 60px;
  border-right: 1px solid #D6D6D6;
  float: left;
}

.form__item {
  width: auto;
}

.form__item input {
  margin: 5px 0 20px 0;
  border: 1px solid #D6D6D6;
  border-radius: 7%;
  padding: 5px;
  width: 200px;
}

.form__item input:active, :focus {
  outline-color: #007ffa
}

.btn__right {
  float: right;
}

@media (max-width: 533px) {
  .form {
    margin-left: calc(100vw/9);
  }

  .form__item input {
    margin-bottom: 10px;
  }
}