.form {
  width: min-content;
  padding: 10px 30px;
  margin-top: 60px;
  border-right: 1px solid #D6D6D6;
  float: left;
}

.form__item {
  width: auto;
  text-transform: capitalize;
}

.form__item input {
  margin: 5px 0 20px 0;
  border: 1px solid #D6D6D6;
  border-radius: 7%;
  padding: 5px;
  width: 200px;
}

.form__item input:active, :focus {
  outline-color: #007ffa
}

.btn {
  width: auto;
  border-radius: 10%;
  font-family: 'Montserrat';
  font-size: 16px;
  border: 1px solid #D6D6D6;
  background-color: #D6D6D6;
}

.btn:focus {
  outline: none;
}

.btn_right {
  float: right;
}

@media (max-width: 533px) {
  .form {
    margin-left: calc(100vw/9);
  }

  .form__item input {
    margin-bottom: 10px;
  }
}