<form class="form" [formGroup]="itemForm">
  <label class="form__item">
    Title
    <input type="text" formControlName="title" required>
  </label>
  <label class="form__item">
    Description
    <input type="text" formControlName="description">
  </label>
  <label class="form__item">
    Date
    <input type="date" formControlName="date" required>
  </label>
  <label class="form__item">
    Image
    <input type="text" formControlName="img" [pattern]="Regexp" required>
  </label>

  <button class="btn" (click)="addItem()" [disabled]="!itemForm.valid" *ngIf="!changeButton">Add</button>
  <button class="btn" (click)="updateItem()" [disabled]="!itemForm.valid" *ngIf="changeButton">Save</button>
  <button class="btn btn__right" (click)="sorting()">Sort by Date</button>

</form>
