.login {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #EAE5F0, #E5FDFF);
}

.login__form {
  position: fixed;
  width: min-content;
  min-height: 244px;
  padding: 10px 30px;
  margin-top: -90px;
}

.login__form-title {
  width: auto;
  display: inline-block;
  text-transform: capitalize;
}

.login__form-title_center {
  text-align: center;
  display: block;
}

.login__form-title_thin {
  font-weight: 400;
}

.login__form-input {
  margin: 5px 0 13px;
  border: 1px solid #D6D6D6;
  border-radius: 0.3em;
  padding: 7px;
  width: 250px;
}

.login__form-input:active,
.login__form-input:focus {
  outline-color: #007ffa;
}

.login__form-btn {
  width: 100%;
  border-radius: 0.3em;
  font-family: 'Montserrat';
  font-size: 1.13em;
  border: 1px solid #D6D6D6;
  background-color: #8DD5F7;
}

.login__form-btn:focus {
  outline: none;
}

.login__form-btn_right {
  float: right;
}

.login__form-registration {
  font-size: 0.8em;
  text-align: center;
  margin: 10px;
}

.login__form-link,
.login__form-reset {
  text-decoration: none;
  color: #551a8b;
}

.login__form-reset {
  display: block;
  margin: 5px;
}

.login__errors {
  margin-top: 110px;
}

.showError {
  visibility: visible;
  color: #FE0606;
  font-size: 0.8em;
  text-align: center;
}

.hideError {
  display: none;
}
