<div class="login">
  <form class="login__form" [formGroup]="loginForm">
    <h2 class="login__form-title login__form-title_center login__form-title_thin">Login</h2>
    <label class="login__form-name">
      <span class="login__form-title">username</span>
      <input type="text" class="login__form-input" formControlName="name"
        required (focus)="hideErrors()">
    </label>
    <label class="login__form-password">
      <span class="login__form-title">password</span>
      <input type="password" class="login__form-input" formControlName="password"
        required (focus)="hideErrors()">
    </label>
    <button type="button" class="login__form-btn" (click)="login()">Login</button>
    <div class="login__form-registration">
      <a class="login__form-reset" href="/reset">Forgot password?</a>
      Don't have an account?
      <a class="login__form-link" href="/register">Sign Up</a>
    </div>
  </form>
  <div class="login__errors">
    <p [ngClass]="isUserExist ? 'hideError' : 'showError'">
      User is not found
    </p>
    <p [ngClass]="isValid ? 'hideError' : 'showError'">
      Invalid password
    </p>
    <p [ngClass]="isEmpty ? 'showError' : 'hideError'">
      Username and password can't be blank
    </p>
  </div>
</div>
