<div class="reset">
  <form class="reset__form" [formGroup]="resetForm">
    <h2 class="reset__form-title reset__form-title_center reset__form-title_thin">
      Reset password
    </h2>
    <label class="reset__form-name">
      <span class="reset__form-title">username *</span>
      <input type="text" class="reset__form-input" formControlName="name"
        (focus)="hideErrors()" required>
    </label>
    <p class="showError" *ngIf="!isLoginExist() && resetForm.value.name !== ''">
      This user is not found.
    </p>
    <label class="reset__form-name">
      <span class="reset__form-title">date of birth *</span>
      <input type="date" class="reset__form-input" formControlName="date"
        (focus)="hideErrors()" required>
    </label>
    <p [ngClass]="!isDateValid ? 'showError' : 'hide'">
      Invalid date
    </p>
    <button type="button" class="reset__form-btn" (click)="checkData($event)">
      Change password
    </button>
    <div [ngClass]="showForm ? 'showForm' : 'reset__form-password'">
      <label class="reset__form-password-item">
        <span class="reset__form-password-title">new password *</span>
        <span class="reset__form-password-tooltip">
          Must content at least 3 symbols
        </span>
        <input type="password" class="reset__form-password-input"
          formControlName="password" (focus)="hideErrors()" required>
      </label>
      <p [ngClass]="isRepeat ? 'showError' : 'hide'">
        Password must be different from previous
      </p>
      <label class="reset__form-password-item">
        <span class="reset__form-password-title">repeat new password *</span>
        <input type="password" class="reset__form-password-input"
          formControlName="passwordRepeat" (focus)="hideErrors()" required>
      </label>
      <p [ngClass]="!isMatch ? 'showError' : 'hide'">
        Passwords doesn't match
      </p>
      <button type="button" class="reset__form-password-btn" (click)="isMatchPasswords()">
        Save changes
      </button>
    </div>
    <a *ngIf="isUserExist" class="reset__form-link" href="/login">
      Return to login &#10140;
    </a>
    <a *ngIf="!isUserExist" class="reset__form-link" href="/register">
      Do you want sign up? &#10140;
    </a>
    <p [ngClass]="isEmpty ? 'showError' : 'hide'">
      Username and date can't be blank
    </p>
  </form>
</div>
