.reset {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #EAE5F0, #E5FDFF);
}

.reset__form {
  width: min-content;
  min-height: 244px;
  padding: 10px 30px;
  margin-top: -90px;
}

.reset__form-title,
.reset__form-password-title {
  width: auto;
  display: inline-block;
}

.reset__form-title::first-letter,
.reset__form-password-title::first-letter {
  text-transform: capitalize;
}

.reset__form-title_center {
  text-align: center;
  display: block;
}

.reset__form-title_thin {
  font-weight: 400;
}

.reset__form-input,
.reset__form-password-input {
  margin: 5px 0 13px;
  border: 1px solid #D6D6D6;
  border-radius: 0.3em;
  padding: 7px;
  width: 250px;
}

.reset__form-input:active, :focus,
.reset__form-password-input:active, :focus {
  outline-color: #007ffa;
}

.reset__form-password {
  display: none;
}

.reset__form-password-tooltip {
  display: none;
}

.reset__form-password-item:hover .reset__form-password-tooltip {
  display: inline-block;
  font-size: 0.7em;
  vertical-align: top;
  text-transform: none;
  color: #EF1515;
}

.reset__form-btn,
.reset__form-password-btn {
  width: 100%;
  border-radius: 0.3em;
  font-family: 'Montserrat';
  font-size: 1.13em;
  border: 1px solid #D6D6D6;
  background-color: #8DD5F7;
}

.reset__form-link {
  font-size: 0.8em;
  display: block;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: #551a8b;
}

.showForm {
  visibility: visible;
}

.showError {
  visibility: visible;
  margin-top: 0;
  color: #FE0606;
  font-size: 0.8em;
  text-align: center;
}

.hide {
  display: none;
}
