.todo-page__list {
  padding-top: 60px;
  margin-top: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  position: fixed;
  left: 265px;
  overflow: auto;
  height: calc(100vh - 230px);
}

.todo-page__start-message {
  font-size: 2em;
  color: #d5d5d5;
  position: fixed;
  left: 45%;
  top: 25%;
}

.todo-page__list-item {
  width: 210px;
  height: 240px;
  max-height: 330px;
  border: 1px solid #D6D6D6;
  border-radius: 2%;
  padding: 7px;
  margin: 7px;
  position: relative;
  cursor: pointer;
}

.todo-page__list-item:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  background: linear-gradient(to bottom, #EAE5F0, #E5FDFF);
}

.todo-page__list-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.todo-page__list-item-delete,
.todo-page__list-item-edit {
  float: right;
}

.todo-page__list-item-delete {
  font-weight: bold;
  padding: 5px;
}

.todo-page__list-item-delete:hover,
.todo-page__list-item-edit:hover {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

.todo-page__list-item-description {
  height: 20px;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.showAllText {
  height: 80px;
  white-space: inherit;
  word-wrap: break-word;
  overflow-y: auto;
  transition: height .25s;
}

.showAllTitle {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  white-space: inherit;
  word-wrap: break-word;
}

.todo-page__list-item-footer {
  width: 90%;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
}

.todo-page__list-item-image {
  width: 200px;
  height: 100px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.todo-page__list-item-footer-spinner-wrapper {
  position: relative;
  top: 60px;
  left: 50%;
}

@media (max-width: 533px) {
  .todo-page__list {
    padding: 20px 0 130px;
    left: 0;
    width: 100vw;
  }

  .todo-page__start-message {
    font-size: 0.92em;
    top: 60%;
    -webkit-transform: translate(-40%, 0);
    -ms-transform: translate(-40%, 0);
    transform: translate(-40%, 0);
  }
}

@media (min-width: 534px) and (max-width: 783px) {
  .todo-page__list {
    width: 66.6vw;
    padding-left: 0;
    margin-bottom: 200px;
  }

  .todo-page__start-message {
    left: 55%;
  }
}

@media (max-width: 784px) {
  .todo-page__list {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}

@media (min-width: 785px) and (max-width: 1024px) {
  .todo-page__list {
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 15px;
  }
}
