<app-header></app-header>
<!-- TODO: Bad formatting -->
<!-- TODO: NOT valid BEM -->
<main>
  <app-new-item (addNewItem)="createItem($event)"
                (changeItem)="updateItem($event)"
                (sortItem)="sortingItems()"></app-new-item>

  <p class="start-message" *ngIf="itemsData.length === 0">Start to add ToDo Items</p>
  <ul class="todo-list" *ngIf="itemsData.length > 0">
    <li class="todo-list__item" *ngFor="let item of itemsData">
      <span class="todo-list__item-delete" (click)="deleteItem(item)">x</span>
      <h2 class="todo-list__item-title" [ngClass]="{'showAllTitle': item.showTitle}" (click)="showTitle(item, $event)">{{item.title}}</h2>
      <p class="todo-list__item-description" [ngClass]="{'showAllText': item.show}" (click)="showText(item, $event)">{{item.description}}</p>
      <div class="todo-list__item-footer">
        <div class="spinner-wrapper">
          <!-- TODO: bad naming for the component -->
          <app-spinner [hidden]="!imageLoader"></app-spinner>
        </div>
        <!-- TODO: use [src] instead -->
        <img class="todo-list__item-image"
             src="{{item.img}}"
             [hidden]="imageLoader"
             (load)="this.imageLoader = false;"
             (error)="setDefaultImage(item)">
        <span class="todo-list__item-date">{{item.date}}</span>
        <span class="todo-list__item-edit" (click)="editItem(item)">edit</span>
      </div>
    </li>
  </ul>
</main>

<app-map></app-map>
