.header {
  height: 30px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  position: fixed;
  padding: 15px 0 7px 0;
  background-color: #fff;
  border-bottom: 1px solid #D6D6D6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header__nav {
  display: inline-block;
  width: 100%;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
  width: auto;
  margin: 10px;
  padding: 5px;
  border: 1px solid #D6D6D6;
  border-radius: 10%;
}

.header__nav-link:focus {
  outline: none;
}

.header__nav-link:visited {
  color: #000;
}

.header__nav-link:hover {
  background-color: #D6D6D6;
}

.header__nav-link_right {
  float: right;
  margin-top: -5px;
}
