.sign-up {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(to bottom, #EAE5F0, #E5FDFF);
}

.sign-up__form {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  min-height: 244px;
  padding: 10px 30px;
  margin-top: -90px;
}

.sign-up__form-title {
  width: auto;
  display: inline-block;
}

.sign-up__form-title::first-letter {
  text-transform: capitalize;
}

.sign-up__form-title_center {
  text-align: center;
  display: block;
}

.sign-up__form-title_thin {
  font-weight: 400;
}

.sign-up__form-input {
  margin: 5px 0 13px;
  border: 1px solid #D6D6D6;
  border-radius: 0.3em;
  padding: 7px;
  width: 250px;
}

.sign-up__form-input:active,
.sign-up__form-input:focus {
  outline-color: #007ffa;
}

.sign-up__form-about {
  display: block;
  margin: 5px 0 13px;
  border: 1px solid #D6D6D6;
  border-radius: 0.3em;
  padding: 7px;
  width: 250px;
  min-height: 30px;
  max-height: 120px;
  resize: vertical;
  wrap: soft;
}

.sign-up__form-tooltip {
  display: none;
}

.sign-up__form-name:hover .sign-up__form-tooltip,
.sign-up__form-password:hover .sign-up__form-tooltip {
  display: inline-block;
  font-size: 0.7em;
  vertical-align: top;
  text-transform: none;
  color: #EF1515;
}

.sign-up__form-btn {
  width: 100%;
  border-radius: 0.3em;
  font-family: 'Montserrat';
  font-size: 1.13em;
  border: 1px solid #D6D6D6;
  background-color: #8DD5F7;
}

.sign-up__form-link {
  font-size: 0.8em;
  display: block;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  color: #551a8b;
}

.showError {
  visibility: visible;
  margin-top: 0;
  color: #FE0606;
  font-size: 0.8em;
  text-align: center;
}

.hideError {
  display: none;
}
