<app-header></app-header>

<div class="info" *ngIf="about">
  <div class="info__user">
    <img class="user__image" src="{{about.photo}}" (error)="setDefaultPhoto()">
    <img class="user__edit" src="assets/edit.svg" (click)="showElements()">
  </div>
  <div class="info__change">
    <button class="info__btn-cancel" (click)="hideElements()">x</button>
    <input class="info__link" [(ngModel)]="photoLink" type="text" placeholder="Enter link of new photo">
    <button class="info__btn-submit" (click)="editPhoto(about)" [disabled]="!photoLink">+</button>
  </div>
  <div class="info__main">
    <p class="info__name">{{about.name}}</p>
    <p class="user__date">{{about.date}}</p>
    <p class="info__about">{{about.content}}</p>
  </div>
</div>
