.home {
  padding: 60px 20px;
  text-align: center;
}

.home__user {
  position: relative;
  display: inline-block;
}

.home__user:hover .home__user-edit {
  display: block;
}

.home__user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
}

.home__user-edit {
  width: 15px;
  height: 15px;
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.home__change-link {
  border: none;
  border-bottom: #D6D6D6 1px solid;
  padding: 7px;
  margin: 7px auto;
  outline: none;
  display: none;
}

.home__change-link::-webkit-input-placeholder {
  text-align: center;
}

.home__change-link::-moz-placeholder {
  text-align: center;
}

.home__change-link:-ms-input-placeholder {
  text-align: center;
}

.home__change-link::-ms-input-placeholder {
  text-align: center;
}

.home__change-link::placeholder {
  text-align: center;
}

.home__change-btn-submit,
.home__change-btn-cancel {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  display: none;
  vertical-align: middle;
}

.home__change-btn-submit {
  font-size: 1.3em;
}

.home__main-about {
  width: 50%;
  margin: 0 auto;
  text-align: justify;
}

.home__main {
  margin: auto;
}

@media (max-width: 1024px) {
  .home__main-about {
    width: 75%;
  }
}
