.map {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 170px;
  width: 100%;
}

agm-map {
  height: 300px;
}

@media (max-width: 320px) {
  .map {
    height: 110px;
  }
}

@media (min-width: 321px) and (max-width: 1024px) {
  .map {
    height: 130px;
  }
}
